html {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --navbar-height: 60px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
  width: 100%;
}

section {
  height: 100vh;
  border: 2px dashed #f0f0f0;
}

/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--navbar-height);
  background-color: #fff;
  box-shadow: 0px 0px 15px -3px #00000042;
}

.navbar__container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: inherit;
  justify-content: space-between;
}

.navbar__logo {
  padding-left: .5rem;
}

.navbar__link {
  display: flex;
  align-items: center;
  gap: .25rem;
  text-decoration: none;
}

.navbar__icon {
  font-size: 1.2rem;
}

.navbar__name {
  color: #000;
}

.navbar__menu {
  width: 100%;
  background-color: #fff;
}

.navbar__list {
  display: flex;
  gap: .5rem;
}

.navbar__button {
  padding-right: .5rem;
}

.btn--close,
.btn--open {
  cursor: pointer;
}

/* hasta los 500, 0 - 500 */
@media (max-width: 400px) {
  .navbar__menu {
    position: absolute;
    top: -400%;
    width: 100%;
    background-color: #fff;
    border-radius: 0 0 20px 20px;
    box-shadow: 0px 0px 15px -3px #00000042;
    transition: all .3s ease;
  }

  .navbar__menu.active {
    top: 0;
  }

  .navbar__list {
    margin: 2rem 0 1.5rem;
    flex-direction: column;
    align-items: center;
  }

  .btn--close {
    color: #aaa;
    position: absolute;
    top: 8px;
    right: 8px;
  }
}

.wrapper {
  margin-top: var(--navbar-height);
}

/* désde 500px, 500 ... */
@media (min-width: 400px) {
  .btn--close {
    display: none;
  }

  .navbar__list {
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .navbar__button {
    display: none;
  }
}